/* Color pallette */
:root {
	--background: #00171F;
	--good-white: #EFEFEF;
	--bright-blue: #00A8E8;
	--less-bright-blue: #007EA7;
	--dark-blue: #003459;
	--good-green: #1DB954;
	--good-red: #DB4437;
}

* {
	margin: 0;
	padding: 0;
}

/* General */
body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}	

.half {
	/* 650px, 1100px */
	height: 95%;
	width: 48%;
	max-width: 10in;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
	outline: 5px solid black;
}

#dashboard {
	justify-content: center;
	align-items: center;
}

#dashBackground {
	position: absolute;
	width: 48vw;
	height: auto;
	z-index: 0;
	margin-top: 4%;
	z-index: 1000;
}

#mainScreen {
	justify-content: flex-start;
	align-items: stretch;
}

.mainFont {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
	color: var(--background);
}

.goodWhite {
	color: var(--good-white);
}

.brightBlue {
	color: var(--bright-blue);
}

.lessBrightBlue {
	color: var(--less-bright-blue);
}

.darkBlue {
	color: var(--dark-blue);
}

.goodGreen {
	color: var(--good-green);
}

.goodRed {
	color: var(--good-red);
}

/* Screen layout */
.screen {
	padding: 1vh 1vw;
	width: calc(100% - 2vw);
	height: calc(100% - 2vh);
	flex-shrink: 0;
}

#homeScreen {
	background-color: #DB4437;
}

#audioScreen {
	background-color: #1DB954;
}

#phoneScreen {
	background-color: gray;
}

/* Dashboard layout */
#dashContainer {
	position: relative;
}

#dash {
	width: 100%;
	height: auto;
}

#speedSign {
	width: 7%;
	height: auto;
	position: absolute;
	top: 24%;
	left: 34%;
}

#speedValue {
	position: absolute;
	top: 34%;
	left: 35%;
	font-size: 2vw;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fuelLevel {
	position: absolute;
	top: 83%;
	left: 9%;
	font-size: 1.5vw;
}

#fuelIcon {
	position: absolute;
	top: 84%;
	left: 22%;
	font-size: 1.5vw;
}

#songWindow {
	position: absolute;
	top: 22%;
	left: 11%;
	width: 16%;
	height: 57%;
}

#songPic {
	width: 100%;
	height: auto;
}

#songTitle {
	font-size: 1.2vw;
}

#songArtist {
	font-size: 0.8vw;
}

#driverSpeed {
	position: absolute;
	top: 5%;
	left: 40%;
	font-size: 2.7vw;
}

#cruise {
	position: absolute;
	top: 25%;
	left: 43%;
	width: 13%;
	height: 17%;
}

#cruiseDialogue {
	font-size: 1.2vw;
}

#gear {
	position: absolute;
	top: 83%;
	left: 73%;
	width: 12%;
	height: 10%;
	display: inline-flex;
	justify-content: space-between;
}

#economy {
	position: absolute;
	top: 15%;
	left: 73%;
	width: 22%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#econGauge {
	width: 100%;
	height: auto;
}

#econDialogue {
	font-size: 1.2vw;
}